[Desktop Entry]
Encoding=UTF-8
Name=Application Launcher (QML)
Name[de]=Anwendungsstarter (QML)
Name[el]=Εκτέλεση εφαρμογών (QML)
Name[fr]=Lanceur d'applications (QML)
Name[it]=Avviatore di applicazioni (QML)
Name[pt_BR]=Lançador de aplicativos (QML)
Comment=Launcher to start applications
Comment[de]=Menü zum Starten von Programmen
Comment[el]=Εκτελεστής για την εκκίνηση εφαρμογών
Comment[fr]=Menu de lancement d'applications
Comment[it]=Menu dell'avviatore di applicazioni
Comment[pt_BR]=Lançador para iniciar aplicativos

Icon=start-here-kde
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=500,350
X-Plasma-RequiredExtensions=LaunchApp

X-KDE-PluginInfo-Author=Glad Deschrijver
X-KDE-PluginInfo-Email=glad.deschrijver@gmail.com
X-KDE-PluginInfo-Name=appmenu-qml
X-KDE-PluginInfo-Version=1.6
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/AppMenu+QML?content=146098
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
