[Desktop Entry]
Icon=application-pkix-cert
Name=ali16ks.wiz.cn.crt
Type=Link
URL[$e]=file://$HOME/goagent-3.2.3/local/certs/ali16ks.wiz.cn.crt
X-KDE-LastOpenedWith=kleopatra
