[Desktop Entry]
Icon=application-pdf
Name=C++Primer第4版课后习题解答(第1~18章)完整版.pdf
Type=Link
URL[$e]=file://$HOME/Dropbox/Programme/CPP_EBooks_PRO/C++Primer%E7%AC%AC4%E7%89%88%E8%AF%BE%E5%90%8E%E4%B9%A0%E9%A2%98%E8%A7%A3%E7%AD%94(%E7%AC%AC1~18%E7%AB%A0)%E5%AE%8C%E6%95%B4%E7%89%88.pdf
X-KDE-LastOpenedWith=okularapplication_pdf
