[Desktop Entry]
Icon=application-pdf
Name=C++Primer中文版(第4版).pdf
Type=Link
URL[$e]=file://$HOME/Desktop/Dropbox/Programme/CPP_EBooks_PRO/C++Primer%E4%B8%AD%E6%96%87%E7%89%88(%E7%AC%AC4%E7%89%88).pdf
X-KDE-LastOpenedWith=okularapplication_pdf
