[Desktop Entry]
Icon=text-html
Name=index.html
Type=Link
URL[$e]=file://$HOME/Documents/cplusplus/www.cplusplus.com/doc/tutorial/index.html
X-KDE-LastOpenedWith=firefox
